@import '../../styles/variables.scss';
@import '../../styles/layout.scss';

.tag {
  font-family: 'Rubik-Variable', 'Roboto Mono', 'Roboto', monospace;
  background: none;
  border: none;
  display: inline-flex;
  color: var(--text-color);
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  &:hover {
    text-decoration: none;
    background-color: black;
    color: rgb(175, 175, 175);
    cursor: pointer;
    transform: scale(1.2);
  }

  img {
    margin-right: 0.5em;
    transition: all 0.5s ease-in-out;
  }

  img:hover {
    transform: scale(1.2);
  }
}

.feed_info {
  border: 0.5px white solid;
  width: 100%;
  margin: auto;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}
